
  button {
    float: right;
    position: relative;
    background-color: black;
    color: $golden;
    border: none;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      background-color: $golden;
      color: black;
    }
  }
  button:focus{
    outline: none;
  }
