.transparentBackground {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 12;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100vh;
  overflow: auto;
}
.popupBody {
  margin: 70px auto;
  background-color: white;
  width: 600px;
  padding: 10px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .popupBody {
    margin: 90px auto;
    background-color: white;
    width: 600px;
    padding: 20px;

  }
}
